p{
    text-align: center;
}

img{
    width: 100%;
}


@media (min-width: 768px){
    .containerImg, .containerImg1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px){
  
    .container{
        display: flex;
        background-color: aqua;
        justify-content: space-around;
        padding: 10px;
    }

    .containerImg{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .containerImg1{
        display: flex;
        justify-content: space-around;
    }
}